@use 'mixins' as *;
@use "accounts__addAccount";

#accounts {
  position: relative;
  height: 140px;
  padding: 40px 0 0 0;
  overflow: hidden;
  @include highlightable(height .5s, transform .5s);

  //left and right fade layers
  &::after {
    @include pseudo(false);
    box-shadow: inset -160px 0 60px -60px var(--color-background);
  }
  &::before {
    @include pseudo(false);
    box-shadow: inset 100px 0 60px -60px var(--color-background);
  }
  &[data-scrolled=false]::before {
    transform: translateX(-100px);
  }

  > .circle-btn {
    position: absolute;
    right: 0;
    top: 52px;
    z-index: 2;
    transition: transform .5s;
    will-change: transform;
  }
}

.accounts-header {
  position: absolute;
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: 0;
  opacity: 0;
  visibility: hidden;
  z-index: 3;
  transition: opacity .2s 0s, visibility 0s .3s;

  * {
    margin: 0;
    z-index: 2;
  }

  //top fade layer under header
  &::before {
    @include pseudo(false);
    bottom: unset;
    height: 100px;
    box-shadow: inset 0 100px 20px -20px var(--color-background);
  }
}

.accounts-wrapper {
  position: relative;
  height: 100%;

  //bottom fade layer in reciepent selection view
  &::after {
    @include pseudo(true);
    box-shadow: inset 0 -60px 20px -20px var(--color-background);
  }
}
.accounts-wrapper-inner {
  height: 100%;
  overflow: auto;
  @include lightScrollbar(var(--color-background-secondary), true, color .3s);
}

.accounts-grid {
  display: inline-grid;
  grid-auto-columns: calc((100vw - 40px - 3 * 50px) / 4);
  grid-auto-flow: column;
  transform: translateY(0);
  gap: 50px;
  color: var(--color-text-default);
  transition: transform .5s, width 0s;

  @media screen and (min-width: 1240px) {
    grid-auto-columns: 200px;
  }
}

.account-selector {
  position: relative;
  order: var(--default-order);
  animation: fadeIn .3s ease-in 0s 1 normal forwards;
}
.account-selector__inner {
  position: relative;
  background-color: var(--color-background-secondary);
  padding: 15px;
  border-radius: 20px;
  border: 5px solid transparent;
  overflow: hidden;
  cursor: pointer;
  transition: padding .5s, border-color .2s;

  &:hover {
    opacity: 0.8;

    .account-selector__icon svg {
      opacity: 1;
    }
  }
}
.account-selector--active .account-selector__inner {
  border: 5px solid var(--color-primary);
}
.account-selector--reciepent {
  order: var(--after-selected-account);
  z-index: 1;
  
  .account-selector__inner {
    border: 5px dashed var(--color-primary);
  }
}
.account-selector--reciepent__arrow {
  opacity: 0;
  position: absolute;
  left: -43px;
  top: 50%;
  transform: translateY(-50%);
  animation: fadeIn .3s ease-in .5s 1 normal forwards;

  //svg animation
  &:hover svg {
    path:first-child {
      transform: translateX(5px);
      opacity: 0;
    }
    path:nth-child(2) {
      transform: translate(-15px, -10px) scale(1.5);
    }
    path:nth-child(3) {
      transform: translate(-15px, -3px) scale(1.5);
    }
  }
}

.account-selector__name {
  margin: 0;
}

.account-selector__balance {
  height: 0;
  opacity: 0;
  overflow: hidden;
  transition: height .5s, opacity .5s;
  
  p {
    margin: 10px 0 0 0;
  }
}

.account-selector__icon {
  position: absolute;
  right: 10px;
  top: 10px;
  visibility: hidden;

  svg {
    opacity: 0;
    transition: opacity .2s;
  }
}

#accounts.opened {
  &::before {
    transform: translateX(-100px);
  }
  &::after {
    transform: translateX(200px);
  }
  .circle-btn {
    transform: translateX(50px);
  }

  .accounts-grid {
    width: 100% !important;
    transform: translateY(100px);
    grid-template-columns: repeat(4, calc((100vw - 40px - 3 * 50px) / 4));
    grid-auto-flow: unset;
    padding-bottom: 100px;
    transition: transform .5s, width .5s;

    @media screen and (min-width: 1240px) {
      grid-template-columns: repeat(5, 200px);
    }
  }

  .accounts-header {
    transition: opacity .5s .2s, visibility 0s 0s;
  }

  &.opened--full {
    height: calc(100vh - 110px);
    transform: translateY(40px);
    transition: height 0s, transform .5s;

    .accounts-header--manage {
      opacity: 1;
      visibility: visible;
    }
    
    .accounts-wrapper-inner:hover {
      scrollbar-color: transparent transparent;
      color: transparent;
    }
    
    .accounts-grid {
      grid-auto-rows: minmax(100px, auto);
    }

    .account-selector .account-selector__inner {
      padding: 25px 20px;
    }
    
    .account-selector__balance {
      height: 36px;
      opacity: 1;
    }

    .account-selector__icon {
      visibility: visible;
    }

    .add-account-wrapper {
      //when first in new row
      min-height: 120px;
      opacity: 1;
      visibility: visible;
      transition: background-color .5s, border .5s, opacity .3s .5s, visibility 0s .4s;
    }

    + #main > div {
      opacity: 0;
      height: 0;
      overflow: hidden;
      transform: translateY(calc(100vh - 290px));
      transition: transform .5s, height 0s .4s, opacity .4s 0s;
    }
  }

  &.opened--half {
    height: 370px;

    .accounts-wrapper::after {
      opacity: 1;
    }

    .accounts-header--reciepent {
      opacity: 1;
      visibility: visible;
    }

    + #main > div {
      transform: translateY(220px);
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}