#accounts {
  position: relative;
  padding: 40px 0;
  overflow: hidden;
  @include highlightable(.5s padding);

  &::after, &::before {
    content: "";
    position: absolute;
    box-shadow: inset -160px 0 60px -60px var(--color-background);
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    transition: right .5s, box-shadow .5s;
    pointer-events: none;
  }

  .circle-btn {
    position: absolute;
    right: 0;
    top: 53px;
    z-index: 1;
    transition: right .5s;
  }
}

.accounts-wrapper {
  overflow-x: auto;
  height: 100px;
  @include lightScrollbar(var(--color-background-secondary), height .5s, margin .5s, color .3s);
}

.accounts-grid {
  display: grid;
  grid-auto-columns: 200px;
  grid-auto-flow: column;
  margin: 0;
  gap: 50px;
  color: var(--color-text-default);
  transition: margin .5s;
  
  //extra space to the right so the edit button and gradient
  //doesn't cover the last account when scrolled to the end
  &::after {
    content: "";
    height: 1px;
    width: 80px;
    order: 100
  }
}

.account-selector {
  background-color: var(--color-background-secondary);
  padding: 15px;
  border-radius: var(--border-radius);
  border: 5px solid transparent;
  cursor: pointer;
  overflow: hidden;
  transition: padding .5s, height .5s, border .2s;

  &:hover {
    opacity: 0.8;
  }
  &.account-selector--active {
    border: 5px solid var(--color-primary);
  }
  &.account-selector--reciepent {
    border: 5px dashed var(--color-primary);
  }
}

.account-selector__name {
  margin: 0;
}

.account-selector__balance {
  height: 0;
  overflow: hidden;
  transition: all .5s;
  
  p {
    margin: 10px 0 0 0;
  }
}

.add-account-wrapper {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  border-radius: 20px;
  border: 5px solid var(--color-background-secondary);
  overflow: hidden;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transition: background-color .5s, opacity .3s 0s, visibility 0s .3s;
  
  &.opened {
    grid-column-end: span 2;
    grid-row-end: span 2;
    cursor: default;
    height: auto;
    background-color: var(--color-background-secondary);

    .add-account {
      width: 100%;
      padding-top: 0;
      height: 100%;
    
      &::after {
        top: -110px;
      }
      
      &:hover {
        opacity: unset;
      }
    }

    .tabs-wrapper {
      margin-top: 0;
    }
  }
}
.add-account {
  width: calc(200% + 40px);
  flex-shrink: 0;
  height: 0;
  transform-origin: top left;
  transition: padding .5s;

  &:after {
    content: "+ Add account";
    position: absolute;
    color: var(--color-text-default-soft);
    font-variation-settings: "wght" 600;
    top: 0;
    left: 0;
    height: 110px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: top .5s;
  }
  
  .tabs-wrapper {
    padding: 15px 20px;
    margin-top: 50%;
    transition: margin .5s;

    .tab {
      animation: none;
    }
  }
}

#accounts.opened {
  .circle-btn {
    right: -50px;
  }
  
  .accounts-grid {
    grid-template-columns: repeat(5, 200px);
    grid-auto-flow: unset;

    &::after {
      content: unset;
    }
  }

  &.opened--full {
    padding: 0;

    &::after, &::before {
      right: -200px;
    }  

    .accounts-wrapper {
      height: calc(100vh - 70px);
      &::-webkit-scrollbar:vertical {
        display: none;
      }
    }
    
    .accounts-grid {
      margin: 10% 0;
    }

    .account-selector {
      padding: 25px 20px;
    }
    
    .account-selector__balance {
      height: 36px;
    }

    .add-account-wrapper {
      opacity: 1;
      visibility: visible;
      transition: background-color .5s, opacity .3s .5s, visibility 0s .4s;
    }
  }

  &.opened--half {
    &::before {
      box-shadow: inset 0 80px 20px -20px white;
    }
    
    &::after {
      box-shadow: inset 0 -80px 20px -20px var(--color-background);
    }

    .accounts-grid {
      margin: 50px 0;
    }

    .accounts-wrapper {
      height: calc(25vh + 70px);
    }
  }
}