@use 'mixins' as *;
@use "accounts__addAccount";

#accounts {
  position: relative;
  padding: 40px 0;
  overflow: hidden;
  @include highlightable(.5s padding);

  &::after, &::before {
    content: "";
    position: absolute;
    box-shadow: inset -160px 0 60px -60px var(--color-background);
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1;
    pointer-events: none;
    transition: right .5s, left .2s, box-shadow .5s;
  }
  &::before {
    box-shadow: inset 100px 0 60px -60px var(--color-background);
  }
  &[data-scrolled=false]::before {
    left: -100px;
  }

  > .circle-btn {
    position: absolute;
    right: 0;
    top: 52px;
    z-index: 2;
    transition: right .5s;
  }
}

.accounts-header {
  position: absolute;
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: 0;
  opacity: 0;
  visibility: hidden;
  z-index: 3;
  transition: opacity .2s 0s, visibility 0s .3s;

  h2 {
    margin: 0;
  }
}

.accounts-wrapper {
  overflow: overlay;
  overflow-x: auto;
  height: 100px;
  @include lightScrollbar(var(--color-background-secondary), true, height .5s, margin .5s, color .3s);
}

.accounts-grid {
  width: fit-content;
  width: -moz-fit-content;
  display: grid;
  grid-auto-columns: calc((100vw - 40px - 3 * 50px) / 4);
  grid-auto-flow: column;
  margin: 0;
  gap: 50px;
  color: var(--color-text-default);
  transition: margin .5s;

  @media screen and (min-width: 1240px) {
    grid-auto-columns: 200px;
  }
}

.account-selector {
  position: relative;
  order: var(--default-order);

  > div {
    position: relative;
    background-color: var(--color-background-secondary);
    padding: 15px;
    border-radius: 20px;
    border: 5px solid transparent;
    cursor: pointer;
    overflow: hidden;
    transition: padding .5s, height .0s .5s, width 0s .5s, border-color .2s;

    &:hover {
      opacity: 0.8;

      .account-selector__icon svg {
        opacity: 1;
      }
    }
  }
}
.account-selector--active > div {
  border: 5px solid var(--color-primary);
}
.account-selector--reciepent {
  order: var(--after-selected-account);
  
  > div {
    border: 5px dashed var(--color-primary);
  }

  &:before {
    content: "->";
    opacity: 0;
    position: absolute;
    left: -35px;
    top: 50%;
    transform: translateY(-50%);
    animation: fadeIn .3s ease-in .5s 1 normal forwards;
  }
}

.account-selector__name {
  margin: 0;
}

.account-selector__balance {
  height: 0;
  overflow: hidden;
  transition: all .5s;
  
  p {
    margin: 10px 0 0 0;
  }
}

.account-selector__icon {
  position: absolute;
  right: 10px;
  top: 10px;
  visibility: hidden;

  svg {
    opacity: 0;
    transition: opacity .2s;
  }
}

#accounts.opened {
  .circle-btn {
    right: -50px;
  }
  
  .accounts-grid {
    grid-template-columns: repeat(4, calc((100vw - 40px - 3 * 50px) / 4));
    grid-auto-flow: unset;

    @media screen and (min-width: 1240px) {
      grid-template-columns: repeat(5, 200px);
    }
  }

  .accounts-header {
    transition: opacity .5s .2s, visibility 0s 0s;
  }

  &.opened--full {
    padding: 80px 0 0 0;

    &::after {
      right: -200px;
    }  
    &::before {
      box-shadow: inset 0 170px 20px -20px var(--color-background);
    }

    .accounts-wrapper {
      height: calc(100vh - 150px);
      &::-webkit-scrollbar:vertical {
        display: none;
      }
    }

    .accounts-header--manage {
      opacity: 1;
      visibility: visible;
    }
    
    .accounts-grid {
      margin: 100px 0;
      grid-auto-rows: minmax(100px, auto);
    }

    .account-selector > div {
      padding: 25px 20px;
    }
    
    .account-selector__balance {
      height: 36px;
    }

    .account-selector__icon {
      visibility: visible;
    }

    .add-account-wrapper {
      width: 100%;
      //when first in new row
      min-height: 120px;
      opacity: 1;
      visibility: visible;
      transition: background-color .5s, border .5s, opacity .3s .5s, visibility 0s .4s;
    }
  }

  &.opened--half {
    &::before {
      box-shadow: inset 0 140px 20px -20px var(--color-background);
    }
    
    &::after {
      box-shadow: inset 0 -80px 20px -20px var(--color-background);
    }
  
    .accounts-header--reciepent {
      opacity: 1;
      visibility: visible;
    }

    .accounts-grid {
      margin: 100px 0;
    }

    .accounts-wrapper {
      height: calc(30vh + 70px);
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}