.vertical-expand, .vertical-expand-inverse {
  transform-origin: left top;
  animation-fill-mode: both;
  will-change: transform;
  animation-duration: .2s;
  animation-delay: 0s;
  animation-timing-function: step-end;
}

.vertical-expand {
  animation-name: vertical-collapse;
  overflow: hidden;
}
.vertical-expand-inverse {
  animation-name: vertical-collapse-inverse;
}

.vertical-expand.notFull {
  animation-name: vertical-collapse-notFull;
  overflow: hidden;
}
.vertical-expand-inverse.notFull {
  animation-name: vertical-collapse-notFull-inverse;
}

@keyframes vertical-expand {
  0% {
    transform: scaleY(0);
  }
  5.88235% {
    transform: scaleY(0.00671);
  }
  11.76471% {
    transform: scaleY(0.02748);
  }
  17.64706% {
    transform: scaleY(0.06313);
  }
  23.52941% {
    transform: scaleY(0.11405);
  }
  29.41176% {
    transform: scaleY(0.18001);
  }
  35.29412% {
    transform: scaleY(0.25977);
  }
  41.17647% {
    transform: scaleY(0.35084);
  }
  47.05882% {
    transform: scaleY(0.4494);
  }
  52.94118% {
    transform: scaleY(0.5506);
  }
  58.82353% {
    transform: scaleY(0.64916);
  }
  64.70588% {
    transform: scaleY(0.74023);
  }
  70.58824% {
    transform: scaleY(0.81999);
  }
  76.47059% {
    transform: scaleY(0.88595);
  }
  82.35294% {
    transform: scaleY(0.93687);
  }
  88.23529% {
    transform: scaleY(0.97252);
  }
  94.11765% {
    transform: scaleY(0.99329);
  }
  100% {
    transform: scaleY(1);
  }
}

@keyframes vertical-expand-inverse {
  0% {
    transform: scaleY(1000);
  }
  5.88235% {
    transform: scaleY(149.0313);
  }
  11.76471% {
    transform: scaleY(36.3901);
  }
  17.64706% {
    transform: scaleY(15.84033);
  }
  23.52941% {
    transform: scaleY(8.76808);
  }
  29.41176% {
    transform: scaleY(5.55525);
  }
  35.29412% {
    transform: scaleY(3.84956);
  }
  41.17647% {
    transform: scaleY(2.8503);
  }
  47.05882% {
    transform: scaleY(2.22519);
  }
  52.94118% {
    transform: scaleY(1.8162);
  }
  58.82353% {
    transform: scaleY(1.54045);
  }
  64.70588% {
    transform: scaleY(1.35093);
  }
  70.58824% {
    transform: scaleY(1.21953);
  }
  76.47059% {
    transform: scaleY(1.12873);
  }
  82.35294% {
    transform: scaleY(1.06738);
  }
  88.23529% {
    transform: scaleY(1.02826);
  }
  94.11765% {
    transform: scaleY(1.00676);
  }
  100% {
    transform: scaleY(1);
  }
}

@keyframes vertical-collapse {
  0% {
    transform: scaleY(1);
  }
  5.88235% {
    transform: scaleY(0.99329);
  }
  11.76471% {
    transform: scaleY(0.97252);
  }
  17.64706% {
    transform: scaleY(0.93687);
  }
  23.52941% {
    transform: scaleY(0.88595);
  }
  29.41176% {
    transform: scaleY(0.81999);
  }
  35.29412% {
    transform: scaleY(0.74023);
  }
  41.17647% {
    transform: scaleY(0.64916);
  }
  47.05882% {
    transform: scaleY(0.5506);
  }
  52.94118% {
    transform: scaleY(0.4494);
  }
  58.82353% {
    transform: scaleY(0.35084);
  }
  64.70588% {
    transform: scaleY(0.25977);
  }
  70.58824% {
    transform: scaleY(0.18001);
  }
  76.47059% {
    transform: scaleY(0.11405);
  }
  82.35294% {
    transform: scaleY(0.06313);
  }
  88.23529% {
    transform: scaleY(0.02748);
  }
  94.11765% {
    transform: scaleY(0.00671);
  }
  100% {
    transform: scaleY(0);
  }
}

@keyframes vertical-collapse-inverse {
  0% {
    transform: scaleY(1);
  }
  5.88235% {
    transform: scaleY(1.00676);
  }
  11.76471% {
    transform: scaleY(1.02826);
  }
  17.64706% {
    transform: scaleY(1.06738);
  }
  23.52941% {
    transform: scaleY(1.12873);
  }
  29.41176% {
    transform: scaleY(1.21953);
  }
  35.29412% {
    transform: scaleY(1.35093);
  }
  41.17647% {
    transform: scaleY(1.54045);
  }
  47.05882% {
    transform: scaleY(1.8162);
  }
  52.94118% {
    transform: scaleY(2.22519);
  }
  58.82353% {
    transform: scaleY(2.8503);
  }
  64.70588% {
    transform: scaleY(3.84956);
  }
  70.58824% {
    transform: scaleY(5.55525);
  }
  76.47059% {
    transform: scaleY(8.76808);
  }
  82.35294% {
    transform: scaleY(15.84033);
  }
  88.23529% {
    transform: scaleY(36.3901);
  }
  94.11765% {
    transform: scaleY(149.0313);
  }
  100% {
    transform: scaleY(1000);
  }
}


@keyframes vertical-expand-notFull {
  0% {
    transform: scaleY(0.2);
  }
  5.88235% {
    transform: scaleY(0.20537);
  }
  11.76471% {
    transform: scaleY(0.22199);
  }
  17.64706% {
    transform: scaleY(0.2505);
  }
  23.52941% {
    transform: scaleY(0.29124);
  }
  29.41176% {
    transform: scaleY(0.34401);
  }
  35.29412% {
    transform: scaleY(0.40781);
  }
  41.17647% {
    transform: scaleY(0.48067);
  }
  47.05882% {
    transform: scaleY(0.55952);
  }
  52.94118% {
    transform: scaleY(0.64048);
  }
  58.82353% {
    transform: scaleY(0.71933);
  }
  64.70588% {
    transform: scaleY(0.79219);
  }
  70.58824% {
    transform: scaleY(0.85599);
  }
  76.47059% {
    transform: scaleY(0.90876);
  }
  82.35294% {
    transform: scaleY(0.9495);
  }
  88.23529% {
    transform: scaleY(0.97801);
  }
  94.11765% {
    transform: scaleY(0.99463);
  }
  100% {
    transform: scaleY(1);
  }
}

@keyframes vertical-expand-notFull-inverse {
  0% {
    transform: scaleY(5);
  }
  5.88235% {
    transform: scaleY(4.86926);
  }
  11.76471% {
    transform: scaleY(4.50471);
  }
  17.64706% {
    transform: scaleY(3.99202);
  }
  23.52941% {
    transform: scaleY(3.43359);
  }
  29.41176% {
    transform: scaleY(2.90689);
  }
  35.29412% {
    transform: scaleY(2.45212);
  }
  41.17647% {
    transform: scaleY(2.08043);
  }
  47.05882% {
    transform: scaleY(1.78725);
  }
  52.94118% {
    transform: scaleY(1.56133);
  }
  58.82353% {
    transform: scaleY(1.39018);
  }
  64.70588% {
    transform: scaleY(1.26232);
  }
  70.58824% {
    transform: scaleY(1.16824);
  }
  76.47059% {
    transform: scaleY(1.1004);
  }
  82.35294% {
    transform: scaleY(1.05319);
  }
  88.23529% {
    transform: scaleY(1.02248);
  }
  94.11765% {
    transform: scaleY(1.0054);
  }
  100% {
    transform: scaleY(1);
  }
}

@keyframes vertical-collapse-notFull {
  0% {
    transform: scaleY(1);
  }
  5.88235% {
    transform: scaleY(0.99463);
  }
  11.76471% {
    transform: scaleY(0.97801);
  }
  17.64706% {
    transform: scaleY(0.9495);
  }
  23.52941% {
    transform: scaleY(0.90876);
  }
  29.41176% {
    transform: scaleY(0.85599);
  }
  35.29412% {
    transform: scaleY(0.79219);
  }
  41.17647% {
    transform: scaleY(0.71933);
  }
  47.05882% {
    transform: scaleY(0.64048);
  }
  52.94118% {
    transform: scaleY(0.55952);
  }
  58.82353% {
    transform: scaleY(0.48067);
  }
  64.70588% {
    transform: scaleY(0.40781);
  }
  70.58824% {
    transform: scaleY(0.34401);
  }
  76.47059% {
    transform: scaleY(0.29124);
  }
  82.35294% {
    transform: scaleY(0.2505);
  }
  88.23529% {
    transform: scaleY(0.22199);
  }
  94.11765% {
    transform: scaleY(0.20537);
  }
  100% {
    transform: scaleY(0.2);
  }
}

@keyframes vertical-collapse-notFull-inverse {
  0% {
    transform: scaleY(1);
  }
  5.88235% {
    transform: scaleY(1.0054);
  }
  11.76471% {
    transform: scaleY(1.02248);
  }
  17.64706% {
    transform: scaleY(1.05319);
  }
  23.52941% {
    transform: scaleY(1.1004);
  }
  29.41176% {
    transform: scaleY(1.16824);
  }
  35.29412% {
    transform: scaleY(1.26232);
  }
  41.17647% {
    transform: scaleY(1.39018);
  }
  47.05882% {
    transform: scaleY(1.56133);
  }
  52.94118% {
    transform: scaleY(1.78725);
  }
  58.82353% {
    transform: scaleY(2.08043);
  }
  64.70588% {
    transform: scaleY(2.45212);
  }
  70.58824% {
    transform: scaleY(2.90689);
  }
  76.47059% {
    transform: scaleY(3.43359);
  }
  82.35294% {
    transform: scaleY(3.99202);
  }
  88.23529% {
    transform: scaleY(4.50471);
  }
  94.11765% {
    transform: scaleY(4.86926);
  }
  100% {
    transform: scaleY(5);
  }
}