.account-selector.confirm-state {
  grid-column-end: span 2;
  grid-row-end: span 3;
  border-radius: 20px;
  overflow: hidden;

  > div {
    //height: calc(3 * 117px + 2 * 50px);
    //width: calc(2 * 200px + 50px);
    height: 100%;
    width: 100%;
    //border-width: 0px;
    cursor: default;

    &:hover {
      opacity: unset;
    }
  }
}

.confirm-layer {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: var(--color-text-inverse);
  padding: 25px;
  visibility: hidden;
  opacity: 0;
  z-index: 3;
  transition: opacity .3s 0s, visibility 0s .3s;

  p {
    text-align: justify;
  }
}

.confirm-background {
  position: absolute;
  height: 0;
  width: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--color-secondary);
  border-radius: 750px;
  transition: height .5s, width .5s;
}
.confirm-background--primary {
  background-color: var(--color-primary);
}

.confirm-state {
  .confirm-layer {
    visibility: visible;
    opacity: 1;
    transition: opacity .3s 0s, visibility 0s 0s;
  }

  .confirm-background {
    z-index: 2;
    
    &.confirm-background--medium {
      height: 1000px;
      width: 1000px;
    }
    &.confirm-background--large {
      height: 1500px;
      width: 1500px;
    }
  }
}

pre {
  background-color: var(--color-text-inverse);
  color: var(--color-text-default);
  padding: 0.7em 1em;
  border-radius: 20px;
  font-family: inherit;
  text-overflow: ellipsis;
  overflow: hidden;
  padding-right: calc(var(--end-element-length) + 15px);
}
