.header__keys {
  justify-content: flex-end;
}

.keys-wrapper {
  position: relative;
  height: 46px;
  width: 100%;
  margin-right: 20px;
}

.keys-modal {
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--color-background);
  border-radius: 20px;
  z-index: 2;
  transition: padding .3s, box-shadow .3s;

  > div:not(:first-child) {
    height: 0;
    overflow: hidden;
    transition: height .3s;
  }
}

.header__keys.opened {
  .keys-modal {
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.25);
    padding: 20px 40px;
  
    > div:not(:first-child) {
      height: calc(3 * (1.3em + 20px));
    }
  }
  
  //svg animation
  .circle-btn svg {
    line:first-child {
      transform: translateX(21px);
    }
    line:last-child {
      transform: translateX(-21px);
    }
  }
}

@mixin cutText {
  max-width: 190px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.key-elem {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;

  p {
    margin: 0 20px 0 0;
    cursor: help;
    white-space: nowrap;
  }

  div {
    display: flex;

    a {
      color: var(--color-primary);
      @include cutText();
    }
  }
}