.header__keys {
  justify-content: flex-end;

  .circle-btn {
    z-index: 3;
  }
}

.keys-wrapper {
  position: relative;
  height: 46px;
  width: 100%;
  margin-right: 20px;
  z-index: 0;
  transform: translate(40px, -4px);
  transition: transform .2s ease-in-out, z-index 0s .2s;
  will-change: transform, z-index;
}

.keys-modal {
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--color-background);
  border-radius: 20px;
  z-index: 2;
  padding: 20px 40px;
  transition: padding .2s;
  overflow: visible !important;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 20px;
    opacity: 0;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.25);
    transition: opacity .2s;
  }
}

.key-elem {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;

  p {
    margin: 0 20px 0 0;
    cursor: help;
    white-space: nowrap;
  }

  div {
    display: flex;

    a {
      color: var(--color-primary);
      max-width: 190px;
    }
  }
}
.keys-inner .key-elem {
  opacity: 0;
  transition: opacity .3s;
}

.header__keys.opened {
  .keys-wrapper {
    z-index: 2;
    transform: translate(0px, 0px);
    transition: transform .2s ease-in-out, z-index 0s 0s;
  }

  .keys-modal {
    z-index: 5;

    &::before {
      opacity: 1;
    }
  }
  
  .keys-inner .key-elem {
    opacity: 1;
  }

  .vertical-expand {
    animation-name: vertical-expand-notFull;
  }
  .vertical-expand-inverse {
    animation-name: vertical-expand-notFull-inverse;
  }

  //svg animation
  .circle-btn svg {
    line:first-child {
      transform: translateX(21px);
    }
    line:last-child {
      transform: translateX(-21px);
    }
  }
}