@use 'mixins' as *;
@import url('../../node_modules/tippy.js/dist/tippy.css');
@import url('../../node_modules/tippy.js/animations/shift-away.css');
@import url('../../node_modules/tippy.js/dist/backdrop.css');

.tippy-box {
  background-color: var(--color-secondary);
  border-radius: 10px;
  padding: 2px 3px
}
.tippy-box[data-placement^='top'] > .tippy-arrow::before {
  border-top-color: var(--color-secondary);
}
.tippy-box[data-placement^='bottom'] > .tippy-arrow::before {
  border-bottom-color: var(--color-secondary);
}
.tippy-box[data-placement^='left'] > .tippy-arrow::before {
  border-left-color: var(--color-secondary);
}
.tippy-box[data-placement^='right'] > .tippy-arrow::before {
  border-right-color: var(--color-secondary);
}

//moveTransition fix
.tippy-box:not([data-animatefill]):not([data-animation='height']) {
  transition-delay: .3s;
}
.tippy-box[data-state=hidden] {
  transition-delay: 0s;
}

//top-start arrow center
.tippy-box[data-placement='left-start'] > .tippy-arrow {
  transform: translate(0px, 8px) !important;
}

//hide underlaying tooltips
div[data-tippy-root]:nth-last-of-type(2) {
  .tippy-content {
    opacity: 0;
  }
}

.tippy-box[data-theme='skeleton'] {
  background-color: transparent;
}

.tippy-box[data-animation='height'] {
  opacity: 0;

  > .tippy-content {
    display: flex;
    max-height: 0;
    padding: 20px;
    overflow: hidden;
    transition-property: transform, visibility, opacity, max-height;

    > div {
      width: 100%;
      display: flex;
      flex-direction: column;
    }
  }
  
  p {
    font-size: 18px;
  }

  .input-wrapper {
    overflow-y: scroll;
    background-color: var(--color-background);
    margin-top: 20px;
    @include lightScrollbar(rgba(53, 53, 53, 0.3), false);

    pre {
      margin: 0;
      font-size: 16px;
      border-radius: 0;
      min-height: 200px;
    }
  }

  .btn-wrapper {
    position: absolute;
    bottom: 35px;
    right: 30px;
    border-radius: 20px;
    background-color: var(--color-background);
  }
  .btn {
    box-shadow: 0px 5px 6px 2px #0000002b;
  }
}
.tippy-box[data-animation='height'][data-state='visible'] {
  opacity: 1;
  
  > .tippy-content {
    max-height: 400px;
  }
}