@use 'tabs';
@use 'inputs';
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;500;700;900&display=swap');
@font-face {
  font-family: 'SF Text';
  src: url('../fonts/SFNSText.woff2') format('woff2');
}
@font-face {
  font-family: 'SF Display';
  src: url('../fonts/SFNSDisplay.woff2') format('woff2');
}

:root {
  --color-background: #ffffff;
  --color-background-secondary: #ECECEC;
  --color-primary: #5994F0;
  --color-secondary: #33373A;
  --color-text-default: #000000;
  --color-text-default-soft: #7A7A7A;
  --color-text-inverse: #ffffff;
  --border-radius: 20px;
}

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  outline: none;
}

body {
  margin: 0;
  //font-family: 'Red Hat Display';
  font-family: 'SF Text';
  font-size: 18px;
  background-color: var(--color-background);
}

#app {
  position: relative;
}

nav div {
  display: flex;
  justify-content: space-between;

  p {
    font-family: 'SF Display';
    color: var(--color-text-default-soft);
    font-variation-settings: 'wght' 500;
    line-height: 30px;
    margin: 0 10px;
  }

  .navbar__brand p {
    font-size: 22px;
    color: var(--color-text-default);
  }
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: unset;
  font-variation-settings: 'wght' 700;
}

h6 {
  font-size: 18px;
}

p {
  margin: 0;
}

button, a {
  cursor: pointer;
  font-family: 'SF Display';
  border: none;
  background: none;
}

.btn {
  background-color: var(--color-secondary);
  color: var(--color-text-inverse);
  border-radius: 30px;
  padding: 15px 30px;
  font-size: 18px;
  font-variation-settings: 'wght' 500;
}
.btn--primary {
  background-color: var(--color-primary);
}

.circle-btn {
  height: 35px;
  width: 35px;
  background-color: var(--color-background-secondary);
  border: 0;
  border-radius: 30px;
}

.clickCatcher {
  position: absolute;
  top: 0;
  left: 0;
  //have to specify for transition-delay to work
  height: 0;
  width: 0;
  background-color: var(--color-background);
  opacity: 0;
  z-index: 5;
  transition: height 0s .3s, width 0s .3s, opacity .3s 0s;

  &.active {
    height: 100%;
    width: 100%;
    opacity: 0.7;
    transition: height 0s 0s, width 0s 0s, opacity .3s 0s;
  }
}

@mixin lightScrollbar ($color, $additionalTransitions...) {
  color: transparent;
  scrollbar-color: transparent transparent;
  scrollbar-width: thin;
  transition: color .3s, $additionalTransitions;

  &::-webkit-scrollbar {
    height: 5px;
    width: 5px;
  }
  &::-webkit-scrollbar-track {
    display: none;
  }
  &::-webkit-scrollbar-thumb {
    background-clip: padding-box;
    border-radius: 15px; 
    box-shadow: inset 0 0 0 10px;
  }

  &:hover {
    scrollbar-color: $color transparent;
    color: $color;
  }
}

@mixin highlightable ($additionalTransitions...) {
  z-index: 0;
  transition: z-index 0s .3s, $additionalTransitions;

  &.highlighted {
    z-index: 10;
    transition: z-index 0s 0s, $additionalTransitions;
  }
}

@import "accounts";

#main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px 60px;
  //have to specify height for transition-delay to work
  height: 100%;
  padding: 0;
  transition: height 0s 0s, opacity .6s 0s;

  > div {
    display: flex;
    align-items: center;
  }

  &.hidden {
    opacity: 0;
    height: 0;
    overflow: hidden;
    transition: height 0s .4s, opacity .4s 0s;
  }
}

.header__amount, .header__keys {
  font-family: 'SF Display';
  font-size: 20px;
}

.header__amount {
  justify-content: space-between;

  h1 {
    margin: 0.2em 0;
  }
}

.actions-container {
  background-color: var(--color-background-secondary);
  border-radius: 20px;
}

.actions-wrapper {
  width: 100%;
  height: 100%;
  padding: 20px 35px
}

@import "keys";
@import "coins";